services:
  nginx:
    build: requirements/nginx
    image: nginx
    pull_policy: build
    env_file:
      - .env
    container_name: nginx
    networks:
      - inception
    ports:
      - "443:443"
    volumes:
      - wp_data:/var/www/html
    restart: always

  wordpress:
    build: requirements/wordpress
    image: wordpress
    pull_policy: build
    container_name: wordpress
    env_file:
      - .env
    networks:
      - inception
    volumes:
      - wp_data:/var/www/html
    restart: always

  mariadb:
    build: requirements/mariadb
    image: mariadb
    pull_policy: build
    container_name: mariadb
    env_file:
      - .env
    networks:
      - inception
    volumes:
      - db_data:/var/lib/mysql
    restart: always

networks:
  inception:
    name: inception

volumes:
  wp_data:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/mmaksimo/data/wordpress'
  db_data:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/mmaksimo/data/mariadb'
